<div class="card">
    <div type="search" class="card-search">
        <input type="text" class="search-bar" placeholder="Search" />

        <button type="button" class="button">
            <span class="material-icons">keyboard_return</span>
        </button>
    </div>
    <div class="weather">

        <h2 class="city">{{region}} {{country}}</h2>
        <div class="temperature-block">
            <h1 class="temperature">{{current.temp_c}}</h1>
            <img src="{{current.condition.icon}}" alt="weather picture" class="icon" />
        </div>

        <h4 class="date">{{time}}</h4>

        <div class="humidity">Humidity: {{current.humidity}}</div>
        <div class="wind">{{current.wind}}</div>
        <div class="js-card-container"></div>

    </div>
</div>