<!--блок контроля-->
<div class="control-block">
    <button type="button" class="button picture-button"><span class="material-icons">
            panorama
        </span></button>
    <button type="button" class="button"><span class="material-icons">
            language
        </span></button>
    <button type="button" class="button"><span class="material-icons">
            chalet
        </span></button>

    <div type="search" class="card-search">
        <input type="text" class="search-bar" placeholder="Search" />

        <button type="button" class="button search-button">
            <span class="material-icons">keyboard_return</span>
        </button>
    </div>
</div>



<div class="weather-block">
    <!--Погода на 1 день-->
    <div class="card">

        <div class="weather">

            <h2 class="city">{{location.name}} {{location.country}}</h2>
            <h4 class="date">{{time}}</h4>
            <div class="temperature-block">
                <h1 class="temperature">{{forecast.forecastday.0.day.avgtemp_c}}c°</h1>
                <img src="{{forecast.forecastday.0.day.condition.icon}}" alt="weather picture" class="icon" />
            </div>
            <div class="summary">Its a {{forecast.forecastday.0.day.condition.text}} today</div>
            <div class="apparent-temperature">Apparent temperature is: {{forecast.forecastday.0.day.avgtemp_c}} C°</div>
            <div class="wind">Wind speed: {{forecast.forecastday.0.day.maxwind_kph}}</div>
            <div class="humidity">Humidity: {{forecast.forecastday.0.day.avghumidity}} %</div>
            <div class="js-card-container"></div>

        </div>
    </div>

    <!--Погода на 3 дня-->
    <div class="card">

        <div class="weather">

            <h2 class="city">Weather for tomorrow</h2>

            <div class="temperature-block">
                <h1 class="temperature">{{forecast.forecastday.1.day.avgtemp_c}}c°</h1>
                <img src="{{forecast.forecastday.1.day.condition.icon}}" alt="weather picture" class="icon" />
            </div>
            <div class="summary">Its a {{forecast.forecastday.1.day.condition.text}} tommorow</div>
            <div class="apparent-temperature">Apparent temperature is:
                {{forecast.forecastday.1.day.avgtemp_c}} C°</div>
            <div class="wind">max wind speed: {{forecast.forecastday.1.day.maxwind_kph}} km</div>
            <div class="humidity">Humidity: {{forecast.forecastday.1.day.avghumidity}} %</div>
            <div class="js-card-container"></div>

        </div>


        <div class="weather">

            <h2 class="city">Weather for the day after tommorow</h2>

            <div class="temperature-block">
                <h1 class="temperature">{{forecast.forecastday.2.day.avgtemp_c}}c°</h1>
                <img src="{{forecast.forecastday.2.day.condition.icon}}" alt="weather picture" class="icon" />
            </div>
            <div class="summary">Will be {{forecast.forecastday.2.day.condition.text}} after tommorow</div>
            <div class="apparent-temperature">Apparent temperature is:
                {{forecast.forecastday.2.day.avgtemp_c}} C°</div>
            <div class="wind">Max wind speed: {{forecast.forecastday.2.day.maxwind_kph}} km</div>
            <div class="humidity">Humidity: {{forecast.forecastday.2.day.avghumidity}} %</div>
            <div class="js-card-container"></div>

        </div>
    </div>
</div>