<div class="weather-block">
    <!--Погода на 1 день-->
    <div class="card">

        <div class="weather">

            <h2 class="city">{{queryResultGeolocation.results.0.formatted}}</h2>
            <h4 class="date">{{time}}</h4>
            <div class="temperature-block">
                <h1 class="temperature">{{queryResultWather.forecast.forecastday.0.day.avgtemp_f}}F°</h1>
                <img src="{{queryResultWather.forecast.forecastday.0.day.condition.icon}}" alt="weather picture"
                    class="icon" />
            </div>
            {{!-- <div class="summary">Че там походу {{queryResultWather.forecast.forecastday.0.day.condition.text}}
                сегодня
            </div> --}}
            <div id="temperature">
                <div class="apparent-temperature" id='temp'>По температуре у нас:
                    {{queryResultWather.forecast.forecastday.0.day.avgtemp_f}} F°</div>
            </div>

            <div class="wind">Ветер в харю: {{queryResultWather.forecast.forecastday.0.day.maxwind_kph}} км</div>
            <div class="humidity">Влажность: {{queryResultWather.forecast.forecastday.0.day.avghumidity}} %</div>


        </div>
    </div>

    <!--Погода на 3 дня-->
    <div class="card">

        <div class="weather">

            <h2 class="city">Погодка на завтра</h2>

            <div class="temperature-block">
                <h1 class="temperature">{{queryResultWather.forecast.forecastday.1.day.avgtemp_f}}F°</h1>
                <img src="{{queryResultWather.forecast.forecastday.1.day.condition.icon}}" alt="weather picture"
                    class="icon" />
            </div>
            {{!-- <div class="summary">Че там походу {{queryResultWather.forecast.forecastday.1.day.condition.text}}
                сегодня
            </div> --}}
            <div id="temperature">
                <div class="apparent-temperature" id='temp'>По температуре у нас:
                    {{queryResultWather.forecast.forecastday.1.day.avgtemp_f}} F°</div>
            </div>

            <div class="wind">Ветер в харю: {{queryResultWather.forecast.forecastday.1.day.maxwind_kph}} км</div>
            <div class="humidity">Влажность: {{queryResultWather.forecast.forecastday.1.day.avghumidity}} %</div>


        </div>


        <div class="weather">

            <h2 class="city">Стратегический прогноз на послезавтра</h2>

            <div class="temperature-block">
                <h1 class="temperature">{{queryResultWather.forecast.forecastday.2.day.avgtemp_f}}F°</h1>
                <img src="{{queryResultWather.forecast.forecastday.2.day.condition.icon}}" alt="weather picture"
                    class="icon" />
            </div>
            {{!-- <div class="summary">Че там походу {{queryResultWather.forecast.forecastday.2.day.condition.text}}
                сегодня
            </div> --}}
            <div id="temperature">
                <div class="apparent-temperature" id='temp'>По температуре у нас:
                    {{queryResultWather.forecast.forecastday.2.day.avgtemp_f}} F°</div>
            </div>

            <div class="wind">Ветер в харю: {{queryResultWather.forecast.forecastday.2.day.maxwind_kph}} км</div>
            <div class="humidity">Влажность: {{queryResultWather.forecast.forecastday.2.day.avghumidity}} %</div>


        </div>
    </div>
    <div class="card">
        <div id="map"></div>
    </div>
</div>